<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css"/>
    <title>Polish news API</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col d-flex justify-content-center">
          <img src="static/img/logo2.png">
        </div>
      </div>
      <div class="row justify-content-center margin-xl">
        <div class="col d-flex justify-content-center">
          <p><strong>Welcome</strong> to <span class="red">Polish News API</span></p>
        </div>
      </div>
      <div class="row justify-content-center margin-xl">
        <div class="col d-flex justify-content-center">
          This API has been created for study practise and commercial usage.
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-5 d-flex justify-content-end">
          <a href="#" id="link">Read more...</a>
        </div>
      </div>
      <div class="row justify-content-center margin-xl">
        <div class="col-sm-5 d-flex justify-content-start">
          <p class="descr"><span class="red">Basic USAGE</span></p>        </div>
      </div>
      <div class="row justify-content-center margin">
        <div class="col d-flex justify-content-center">
            <div class="border-xl">
              <p class="start-link"><span color="red">GET</span></p>
              <a href="{{ url_for('main') }}" target="_blank">
                <p class="link-api">/polish-news/api/v1/news</p>
              </a>
            </div>
        </div>
      </div>
      <div class="row justify-content-center margin">
        <div class="col-sm-5 d-flex justify-content-center">
                  Retrieve all avaible news. 
      </div>
    </div>
    <div class="row justify-content-center margin-xl">
        <div class="col d-flex justify-content-center">
            <div class="border-xl">
              <p class="start-link"><span color="red">GET</span></p>
              Enter ID here:
              <form action="{{ url_for('get_id') }}" class="form-group margin" method="post">
                <input type="text" name="ID"><input type="submit" value="ok">
              </form>
            </div>
        </div>
      </div>
       <div class="row justify-content-center margin">
        <div class="col-sm-5 d-flex justify-content-center">
                  Retrieve news by ID. 
        </div>
    </div>
    <div class="row justify-content-center margin-xl">
        <div class="col d-flex justify-content-center">
            <div class="border-xl">
              <p class="start-link"><span color="red">GET</span></p>
              Enter SOURCE here:
              <form action="{{ url_for('get_source') }}" class="form-group margin" method="post">
                <input type="text" name="SOURCE"><input type="submit" value="ok">
              </form>
            </div>
        </div>
      </div>
      <div class="row justify-content-center margin">
        <div class="col-sm-5 d-flex justify-content-center">
                  Retrieve news by SOURCE. 
      </div>
    </div>
     <div class="row justify-content-center margin-xl">
        <div class="col d-flex justify-content-center">
            <div class="border-xl">
              <p class="start-link"><span color="red">GET</span></p>
              Enter DATE here:
              <form action="{{ url_for('get_date') }}" class="form-group margin" method="post">
                <input type="text" name="DATE"><input type="submit" value="ok">
              </form>
            </div>
        </div>
      </div>
      <div class="row justify-content-center margin">
        <div class="col-sm-5 d-flex justify-content-center">
          <article>
                  Retrieve news by DATE. <br>
                  
                  <span class='padd-xxl'>QUICK NOTE: </span><span>syntax for date is</span><span class='yellow'> yyyy-mm-dd</span>
        </article>
      </div>
    </div>
    <div class="row justify-content-center margin-xl">
      <div class="col-sm-5 d-flex justify-content-center">
          <span class="red"><a class="sources" target="_blank" href="{{ url_for('get_by_sources') }}">Click</a>to see avaible sources.</span></p>     
      </div>
    </div>
     <div class="row justify-content-center margin-xl">
      <div class="col-sm-5 d-flex justify-content-center">
          <span> 
            This website is first version of my project. <br><br><br>
            It's gonna be <span class="red">developed</span> soon. <img class= "OK" src="static/img/ok.png" />
          </span>     
      </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>